body {
    background-image: url('bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(44, 80, 212); 
    margin: 0;
    height: 100vh;

    display: flex;              /* enable flexbox */
    justify-content: center;    /* center horizontally */
    align-items: center;        /* center vertically */
}

.menu-container {
    display: flex;
    flex-direction: column; /* stack vertically */
    gap: 30px;              /* space between buttons */
    align-items: center;    /* center buttons */
}

button {
    background-color: rgb(235, 211, 35);
    color: white;
    border: none;
    border-radius: 23%;
    width: 156px;
    height: 50px;
    opacity: 70%;
    cursor: pointer;
}

