body {
  background-image: url('bg.webp');
  background-size: cover;   /* full screen cover */
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(44, 80, 212); 
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;    
  justify-content: center; 
  align-items: center;      
}


canvas {
  background: white;
  border: 2px solid black;
  display: block;
}

/* restart button */
#restartBtn {
  background-color: rgb(235, 211, 35);
  color: white;
  border: none;
  border-radius: 23%;
  display: none;           
  width: 156px;
  height: 50px;
  margin-top: 20px;        
  opacity: 70%;
  transition: 0.3s;
  cursor: pointer;
}

#restartBtn:hover {
  background: #0056b3;
}
